h3 {
    color: #000000;
    font-family: 'Arvo', sans-serif;
    font-weight: 100;
    font-size: 400%;
    letter-spacing: 2px;
    text-align: left;
    text-overflow: inherit;
    z-index: 20;
    font-weight: bold;
  }
  h2 {
    color: #000000;
    font-family: 'Arvo', sans-serif;
    font-weight: 100;
    font-size: 190%;
    letter-spacing: 2px;
    text-align: left;
    text-overflow: inherit;
    vertical-align: text-top;
  }
  h1 {
    color: purple;
    font-family: 'Arvo', sans-serif;
    font-weight: 100;
    font-size: 220%;
    letter-spacing: 2px;
    text-align: left;
    text-overflow: inherit;
    vertical-align: text-top; 
    font-weight: bold;
  }

body {
    background: #ffffff;
    overflow: scroll;
    background-size: 100%;
    margin: 10%;
}
p {
  color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 140%;
    letter-spacing: 2px;
    text-align: left;
}

img {
    width: 800px;
    margin-left: 9%;
}


