h1 {
    color: #000000;
    font-family: 'Arvo', sans-serif;
    font-weight: 100;
    font-size: 400%;
    letter-spacing: 2px;
    text-align: left;
    text-overflow: inherit;
    vertical-align: text-top;
    margin-left: 9%;
    z-index: 20;
    font-weight: bold;
    margin-right: 20%;
  }
  h2 {
    color: #000000;
    font-family: 'Arvo', sans-serif;
    font-weight: 100;
    font-size: 190%;
    letter-spacing: 2px;
    text-align: left;
    text-overflow: inherit;
    vertical-align: text-top;
    margin-left: 9%;
    z-index: 20;
  }
  h3 {
    color: purple;
    font-family: 'Arvo', sans-serif;
    font-weight: 100;
    font-size: 220%;
    letter-spacing: 2px;
    text-align: left;
    text-overflow: inherit;
    vertical-align: text-top;
    margin-left: 9%;
    margin-top: -3%;
    z-index: 20;
    font-weight: bold;
  }

body {
    background: #ffffff;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    background-size: 100%;
}
p {
  color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 140%;
    letter-spacing: 2px;
    text-align: left;
    text-overflow: inherit;
    vertical-align: text-top;
    margin-left: 9%;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 20;
    margin-right: 500px;
}

img {
    width: 800px;
    margin-left: 9%;
}
